In [99]:
import pandas as pd
import numpy as np
import pandas_profiling
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression, HuberRegressor

dftest = pd.read_csv("test.csv", engine='python')
print(dftest.head())

     Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0  1461          20       RH         80.0    11622   Pave   NaN      Reg
1  1462          20       RL         81.0    14267   Pave   NaN      IR1
2  1463          60       RL         74.0    13830   Pave   NaN      IR1
3  1464          60       RL         78.0     9978   Pave   NaN      IR1
4  1465         120       RL         43.0     5005   Pave   NaN      IR1

  LandContour Utilities      ...       ScreenPorch PoolArea PoolQC  Fence  \
0         Lvl    AllPub      ...               120        0    NaN  MnPrv
1         Lvl    AllPub      ...                 0        0    NaN    NaN
2         Lvl    AllPub      ...                 0        0    NaN  MnPrv
3         Lvl    AllPub      ...                 0        0    NaN    NaN
4         HLS    AllPub      ...               144        0    NaN    NaN

  MiscFeature MiscVal MoSold  YrSold  SaleType  SaleCondition
0         NaN       0      6    2010        WD         Normal
1        Gar2   12500      6    2010        WD         Normal
2         NaN       0      3    2010        WD         Normal
3         NaN       0      6    2010        WD         Normal
4         NaN       0      1    2010        WD         Normal

[5 rows x 80 columns]

In [100]:
dftest.shape

(1459, 80)

In [101]:
dftest.sample(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
413,1874,20,RL,65.0,9757,Pave,NaN,Reg,Low,AllPub,...,92,0,NaN,NaN,NaN,0,10,2009,WD,Normal
1388,2849,60,RL,70.0,8726,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Normal
1340,2801,30,RM,60.0,7200,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2006,ConLI,Family
364,1825,70,RL,50.0,4960,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2009,WD,Normal
1283,2744,20,RL,72.0,10152,Pave,NaN,Reg,Lvl,AllPub,...,142,0,NaN,NaN,NaN,0,5,2006,WD,Normal
1090,2551,180,RM,35.0,3675,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
204,1665,20,RL,95.0,11578,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,7,2009,WD,Normal
871,2332,60,RL,89.0,10557,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,7,2007,WD,Normal
1394,2855,20,RL,70.0,8810,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2006,WD,Normal
578,2039,120,RL,22.0,11064,Pave,NaN,IR2,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,8,2008,WD,Normal

In [102]:
dftest.isna().sum()

Id                  0
MSSubClass          0
MSZoning            4
LotFrontage       227
LotArea             0
Street              0
Alley            1352
LotShape            0
LandContour         0
Utilities           2
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         1
Exterior2nd         1
MasVnrType         16
MasVnrArea         15
ExterQual           0
ExterCond           0
Foundation          0
                 ...
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         1
TotRmsAbvGrd        0
Functional          2
Fireplaces          0
FireplaceQu       730
GarageType         76
GarageYrBlt        78
GarageFinish       78
GarageCars          1
GarageArea          1
GarageQual         78
GarageCond         78
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1456
Fence            1169
MiscFeature      1408
MiscVal             0
MoSold              0
YrSold              0
SaleType            1
SaleCondition       0
Length: 80, dtype: int64

In [103]:
##Proportion of NaNs within columns
Isnull = dftest.isnull().sum()/len(dftest)*100
Isnull = Isnull[Isnull>0]
Isnull.sort_values(inplace=True, ascending = False)
Isnull

PoolQC          99.794380
MiscFeature     96.504455
Alley           92.666210
Fence           80.123372
FireplaceQu     50.034270
LotFrontage     15.558602
GarageYrBlt      5.346127
GarageCond       5.346127
GarageQual       5.346127
GarageFinish     5.346127
GarageType       5.209047
BsmtCond         3.084304
BsmtExposure     3.015764
BsmtQual         3.015764
BsmtFinType1     2.878684
BsmtFinType2     2.878684
MasVnrType       1.096642
MasVnrArea       1.028101
MSZoning         0.274160
BsmtFullBath     0.137080
BsmtHalfBath     0.137080
Utilities        0.137080
Functional       0.137080
Exterior2nd      0.068540
Exterior1st      0.068540
SaleType         0.068540
BsmtFinSF1       0.068540
BsmtFinSF2       0.068540
BsmtUnfSF        0.068540
KitchenQual      0.068540
GarageCars       0.068540
GarageArea       0.068540
TotalBsmtSF      0.068540
dtype: float64

In [104]:
## Dropping columns

In [105]:
# Dropping Utilities; is useless
dftest.drop(['Utilities'], axis=1,inplace=True)

In [106]:
## Dropping 'PoolQC' for having too many NaNs; 
dftest.drop(['PoolQC'],axis=1,inplace=True)

In [107]:
## Dropping 'Fence' for having too many NaNs; 
dftest.drop(['Fence'],axis=1,inplace=True)

In [108]:
## Dropping MiscFeature' for having too many NaNs; 
dftest.drop(['MiscFeature'],axis=1,inplace=True)

In [109]:
## Dropping 'Alley' for same reason
dftest.drop(['Alley'],axis=1,inplace=True)

In [110]:
## Dropping 'GarageYrBlt' - highly colinear with 'YearBuilt'; also has many NaNs
dftest.drop(['GarageYrBlt'],axis=1,inplace=True)

In [111]:
## Dropping Id; is useless
dftest.drop(['Id'],axis=1,inplace=True)

In [112]:
# ## Dropping outliers
# dftest = dftest[dftest.GrLivArea < 4000]

In [113]:
dftest.shape

(1459, 73)

In [114]:
## Imputing values

In [115]:
## Imputing BsmtCond and BsmtQual by mode
dftest['BsmtCond']=dftest['BsmtCond'].fillna(dftest['BsmtCond'].mode()[0])
dftest['BsmtQual']=dftest['BsmtQual'].fillna(dftest['BsmtQual'].mode()[0])

In [116]:
##GarageType, GarageFinish, GarageQual and GarageCond these are replacing with None
# for col in ['GarageType', 'GarageFinish', 'GarageQual', 'GarageCond']:
#     dftrain[col] = dftrain[col].fillna('None')
## Revised approach: imputing garage variables
dftest['GarageFinish']=dftest['GarageFinish'].fillna(dftest['GarageFinish'].mode()[0])
dftest['GarageQual']=dftest['GarageQual'].fillna(dftest['GarageQual'].mode()[0])
dftest['GarageCond']=dftest['GarageCond'].fillna(dftest['GarageCond'].mode()[0])
dftest['GarageType']=dftest['GarageType'].fillna(dftest['GarageType'].mode()[0])

In [117]:
## 'FireplaceQu' comes in under the 50% NaN threshold for dropping a column; however, will keep this variable in mind when testing. Imputation could skew final result
dftest['FireplaceQu']=dftest['FireplaceQu'].fillna(dftest['FireplaceQu'].mode()[0])

In [118]:
# ##Group by neighborhood and fill in missing value by the median LotFrontage of all the neighborhood
# dftrain['LotFrontage'] = dftrain.groupby("Neighborhood")["LotFrontage"].transform(
#     lambda x: x.fillna(x.median()))
## Reimputing LotFrontage this way:
dftest['LotFrontage']=dftest['LotFrontage'].fillna(dftest['LotFrontage'].mean())

In [119]:
#BsmtFinType2, BsmtExposure, BsmtFinType1, BsmtCond, BsmtQual these are replacing with None
# for col in ('BsmtFinType2', 'BsmtExposure', 'BsmtFinType1', 'BsmtCond', 'BsmtQual'):
#     dftrain[col] = dftrain[col].fillna('None')
## Trying imputation: Filling with 'None' method doesn't work
dftest['BsmtExposure']=dftest['BsmtExposure'].fillna(dftest['BsmtExposure'].mode()[0])
# dftest['BsmtFinType1']=dftest['BsmtFinType1'].fillna(dftest['BsmtFinType1'].mode()[0])
dftest['BsmtFinType2']=dftest['BsmtFinType2'].fillna(dftest['BsmtFinType2'].mode()[0])
dftest['BsmtQual']=dftest['BsmtQual'].fillna(dftest['BsmtQual'].mode()[0])
dftest['BsmtCond']=dftest['BsmtCond'].fillna(dftest['BsmtCond'].mode()[0])

In [120]:
# MasVnrType and MasVnrArea: replace with 0
dftest['MasVnrArea'] = dftest['MasVnrArea'].fillna(dftest['MasVnrArea'].mode()[0])
dftest['MasVnrType'] = dftest['MasVnrType'].fillna(dftest['MasVnrType'].mode()[0])

In [121]:
## Imputing 'Electrical' with mode
# dftest['Electrical'] = dftest['Electrical'].fillna(dftest['Electrical']).mode()[0]

In [122]:
# #GarageYrBlt, GarageArea and GarageCars these are replacing with zero
# for col in ['GarageArea', 'GarageCars']:
#     dftest[col] = dftest[col].fillna(int(0))

In [123]:
dftest.shape

(1459, 73)

In [124]:
##Proportion of NaNs within columns
Isnull = dftest.isnull().sum()/len(dftest)*100
Isnull = Isnull[Isnull>0]
Isnull.sort_values(inplace=True, ascending = False)
Isnull

BsmtFinType1    2.878684
MSZoning        0.274160
Functional      0.137080
BsmtHalfBath    0.137080
BsmtFullBath    0.137080
SaleType        0.068540
GarageArea      0.068540
GarageCars      0.068540
KitchenQual     0.068540
TotalBsmtSF     0.068540
BsmtUnfSF       0.068540
BsmtFinSF2      0.068540
BsmtFinSF1      0.068540
Exterior2nd     0.068540
Exterior1st     0.068540
dtype: float64

In [125]:
# dftest.dropna(inplace=True)

In [126]:
dftest.shape

(1459, 73)

In [136]:
##Proportion of NaNs within columns
Isnull = dftest.isnull().sum()/len(dftest)*100
Isnull = Isnull[Isnull>0]
Isnull.sort_values(inplace=True, ascending = False)
Isnull

Series([], dtype: float64)

In [137]:
dftest['BsmtFinType1']=dftest['BsmtFinType1'].fillna(dftest['BsmtFinType1'].mode()[0])
dftest['MSZoning']=dftest['MSZoning'].fillna(dftest['MSZoning'].mode()[0])
dftest['Functional']=dftest['Functional'].fillna(dftest['Functional'].mode()[0])
dftest['BsmtHalfBath']=dftest['BsmtHalfBath'].fillna(dftest['BsmtHalfBath'].mode()[0])
dftest['SaleType']=dftest['SaleType'].fillna(dftest['SaleType'].mode()[0])
dftest['GarageArea']=dftest['GarageArea'].fillna(dftest['GarageArea'].mode()[0])
dftest['GarageCars']=dftest['GarageCars'].fillna(dftest['GarageCars'].mode()[0])
dftest['KitchenQual']=dftest['KitchenQual'].fillna(dftest['KitchenQual'].mode()[0])
dftest['TotalBsmtSF']=dftest['TotalBsmtSF'].fillna(dftest['TotalBsmtSF'].mode()[0])
dftest['BsmtHalfBath']=dftest['BsmtHalfBath'].fillna(dftest['BsmtHalfBath'].mode()[0])
dftest['BsmtFullBath']=dftest['BsmtFullBath'].fillna(dftest['BsmtFullBath'].mode()[0])
dftest['BsmtUnfSF']=dftest['BsmtUnfSF'].fillna(dftest['BsmtUnfSF'].mode()[0])
dftest['BsmtFinSF2']=dftest['BsmtFinSF2'].fillna(dftest['BsmtFinSF2'].mode()[0])
dftest['BsmtFinSF1']=dftest['BsmtFinSF1'].fillna(dftest['BsmtFinSF1'].mode()[0])
dftest['Exterior2nd']=dftest['Exterior2nd'].fillna(dftest['Exterior2nd'].mode()[0])
dftest['Exterior1st']=dftest['Exterior1st'].fillna(dftest['Exterior1st'].mode()[0])

In [138]:
dftest.to_csv('formulatedtest.csv')

In [30]:
# dftest.to_csv('formulatedtest.csv',index=False)

In [31]:
formulated_df=pd.read_csv('formulatedtest.csv')

In [38]:
# Training and Testing Sets
from sklearn.model_selection import train_test_split

# One Hot Encoding
formulated_df = pd.DataFrame(pd.get_dummies(formulated_df))

In [40]:
formulated_df.to_csv('ohtest.csv',index=False)

In [39]:
formulated_df

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,20,80.000000,11622,5,6,1961,1961,0.0,468.0,144.0,...,0,0,0,1,0,0,0,0,1,0
1,20,81.000000,14267,6,6,1958,1958,108.0,923.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2,60,74.000000,13830,5,5,1997,1998,0.0,791.0,0.0,...,0,0,0,1,0,0,0,0,1,0
3,60,78.000000,9978,6,6,1998,1998,20.0,602.0,0.0,...,0,0,0,1,0,0,0,0,1,0
4,120,43.000000,5005,8,5,1992,1992,0.0,263.0,0.0,...,0,0,0,1,0,0,0,0,1,0
5,60,75.000000,10000,6,5,1993,1994,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
6,20,68.532088,7980,6,7,1992,2007,0.0,935.0,0.0,...,0,0,0,1,0,0,0,0,1,0
7,60,63.000000,8402,6,5,1998,1998,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
8,20,85.000000,10176,7,5,1990,1990,0.0,637.0,0.0,...,0,0,0,1,0,0,0,0,1,0
9,20,70.000000,8400,4,5,1970,1970,0.0,804.0,78.0,...,0,0,0,1,0,0,0,0,1,0
10,120,26.000000,5858,7,5,1999,1999,0.0,1051.0,0.0,...,0,0,0,1,0,0,0,0,1,0
11,160,21.000000,1680,6,5,1971,1971,504.0,156.0,0.0,...,0,0,0,0,0,0,0,0,1,0
12,160,21.000000,1680,5,5,1971,1971,492.0,300.0,0.0,...,0,0,0,1,0,0,0,0,1,0
13,160,24.000000,2280,6,6,1975,1975,0.0,514.0,0.0,...,0,0,0,1,0,0,0,0,1,0
14,120,24.000000,2280,7,6,1975,1975,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
15,60,102.000000,12858,9,5,2009,2010,162.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,1
16,20,94.000000,12883,8,5,2009,2010,256.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,1
17,20,90.000000,11520,9,5,2005,2005,615.0,110.0,0.0,...,0,0,0,1,0,0,0,0,1,0
18,20,79.000000,14122,8,5,2005,2006,240.0,28.0,0.0,...,0,0,0,1,0,0,0,0,1,0
19,20,110.000000,14300,9,5,2003,2004,1095.0,1373.0,0.0,...,0,0,0,1,0,0,0,0,1,0
20,60,105.000000,13650,8,5,2002,2002,232.0,578.0,0.0,...,0,0,0,1,0,0,0,0,1,0
21,120,41.000000,7132,8,5,2006,2006,178.0,24.0,0.0,...,0,0,0,1,0,0,0,0,1,0
22,20,100.000000,18494,6,5,2005,2005,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
23,120,43.000000,3203,7,5,2006,2006,14.0,16.0,0.0,...,0,0,0,1,0,0,0,0,1,0
24,80,67.000000,13300,7,5,2004,2004,0.0,326.0,0.0,...,0,0,0,1,0,0,0,0,1,0
25,60,63.000000,8577,7,5,2004,2004,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
26,60,60.000000,17433,8,5,1998,1998,114.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
27,20,73.000000,8987,8,5,2005,2006,226.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
28,20,92.000000,9215,7,5,2009,2010,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,1
29,20,84.000000,10440,6,5,2005,2005,0.0,1414.0,0.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1380,50,50.000000,7000,6,7,1926,1950,0.0,374.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1381,30,61.000000,8534,4,4,1925,1950,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1382,30,50.000000,7030,4,6,1925,1950,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1383,50,75.000000,9060,6,5,1957,1957,327.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1384,190,50.000000,9000,5,6,1951,1951,0.0,0.0,0.0,...,0,0,0,1,1,0,0,0,0,0
1385,50,60.000000,8520,3,5,1916,1950,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1386,120,41.000000,5748,8,5,2005,2006,473.0,1573.0,0.0,...,0,1,0,0,0,0,0,0,0,1
1387,120,44.000000,3842,8,5,2004,2005,186.0,1564.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1388,20,69.000000,23580,6,6,1979,1979,0.0,776.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1389,90,65.000000,8385,6,5,1978,1978,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1390,20,70.000000,9116,8,5,2001,2001,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1391,80,140.000000,11080,6,6,1975,1975,257.0,576.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1392,20,68.532088,50102,6,5,1958,1958,0.0,909.0,0.0,...,0,0,0,1,0,0,1,0,0,0
1393,20,68.532088,8098,6,5,2000,2000,0.0,1136.0,116.0,...,0,0,0,1,0,0,0,0,1,0
1394,20,95.000000,13618,8,5,2005,2006,198.0,1350.0,0.0,...,0,1,0,0,0,0,0,0,0,1
1395,20,88.000000,11577,9,5,2005,2006,382.0,1455.0,0.0,...,0,1,0,0,0,0,0,0,0,1
1396,90,78.000000,7020,7,5,1997,1997,200.0,1243.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1397,160,41.000000,2665,5,6,1977,1977,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1398,20,58.000000,10172,5,7,1968,2003,0.0,441.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1399,90,68.532088,11836,5,5,1970,1970,0.0,149.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1400,180,21.000000,1470,4,6,1970,1970,0.0,522.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1401,160,21.000000,1484,4,4,1972,1972,0.0,252.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1402,20,80.000000,13384,5,5,1969,1979,194.0,119.0,344.0,...,0,0,0,1,0,0,0,0,1,0
1403,160,21.000000,1533,4,5,1970,1970,0.0,408.0,0.0,...,0,0,0,1,1,0,0,0,0,0
1404,160,21.000000,1526,4,5,1970,1970,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1405,160,21.000000,1936,4,7,1970,1970,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1406,160,21.000000,1894,4,5,1970,1970,0.0,252.0,0.0,...,0,0,0,1,1,0,0,0,0,0
1407,20,160.000000,20000,5,7,1960,1996,0.0,1224.0,0.0,...,0,0,0,1,1,0,0,0,0,0
1408,85,62.000000,10441,5,5,1992,1992,0.0,337.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1409,60,74.000000,9627,7,5,1993,1994,94.0,758.0,0.0,...,0,0,0,1,0,0,0,0,1,0

In [139]:
42*6

252